.buttonAdd {
  border-radius: 5px;
  width: 100%;
  margin-top: 30px;
  color: white;
  background-color: blue;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputName {
  width: 100%;
  background-color: rgb(210, 178, 240);
}
.labelName {
  font-weight: 500;
}
